{% extends "layout.html" %}

{% block main %}
<div class="album text-muted">
        <div class="container">
          <div class="row">
            <div class="card">
              <a href="/sketch/slopefield"><img style="height: 280px; width: 100%; display: block;" src="/static/images/slope.png" data-holder-rendered="true"></a>
              <p class="card-text">Move your mouse around the screen for different colors. The slope field points brah.</p>
            </div>
            <div class="card">
              <a href="/sketch/prettycircles"><img style="height: 280px; width: 100%; display: block;" src="/static/images/prettycircles.png" data-holder-rendered="true"></a>
              <p class="card-text">Move for pretty circles brah. Click for black.</p>
            </div>
            <div class="card">
              <a href="/sketch/follow"><img style="height: 280px; width: 100%; display: block;" src="/static/images/follow.png" data-holder-rendered="true"></a>
              <p class="card-text">Click on the screen to create a web that follows brah.</p>
            </div>
            
          </div>
          <div class="row">
            <div class="card">
              <a href="/sketch/energy"><img style="height: 280px; width: 100%; display: block;" src="/static/images/energy.png" data-holder-rendered="true"></a>
              <p class="card-text">Energy dissipates. Pretty colors brah.</p>
            </div>
            <div class="card">
              <a href="/sketch/rotate"><img style="height: 280px; width: 100%; display: block;" src="/static/images/rotate.png" data-holder-rendered="true"></a>
              <p class="card-text">Draw on a rotating canvas brah. People had this as kids right?</p>
            </div>
            <div class="card">
              <a href="/sketch/montecarlo"><img style="height: 280px; width: 100%; display: block;" src="/static/images/montecarlo.png" data-holder-rendered="true"></a>
              <p class="card-text">Throw darts at a quarter-circle to approximate PI brah. Radical and Mathematical</p>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <a href="/sketch/riemann"><img style="height: 280px; width: 100%; display: block;" src="/static/images/riemann.png" data-holder-rendered="true"></a>
              <p class="card-text">Infinite summation of inscribed rectangles for PI brah. Super mathematical.</p>
            </div>
            <div class="card">
              <a href="/sketch/regular"><img style="height: 280px; width: 100%; display: block;" src="/static/images/regular.png" data-holder-rendered="true"></a>
              <p class="card-text">Look at how n-sided regular polygons get closer to a circle as n increases. (brah)</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}