{% extends "layout.html" %}

{% block main %}
<div class="album text-muted">
        <div class="container">
          <div class="row">
            <div class="card">
              <a href="/slope"><img style="height: 280px; width: 100%; display: block;" src="/static/images/slope.png" data-holder-rendered="true"></a>
              <p class="card-text">Move your mouse around the screen for different colors. The slope field points brah.</p>
            </div>
            <div class="card">
              <a href="/prettycircles"><img style="height: 280px; width: 100%; display: block;" src="/static/images/prettycircles.png" data-holder-rendered="true"></a>
              <p class="card-text">Move for pretty circles brah. Click for black.</p>
            </div>
            <div class="card">
              <a href="/theyfollow"><img style="height: 280px; width: 100%; display: block;" src="/static/images/follow.png" data-holder-rendered="true"></a>
              <p class="card-text">Click on the screen to create a web that follows brah.</p>
            </div>
            
          </div>
          <div class="row">
            <div class="card">
              <a href="/energy"><img style="height: 280px; width: 100%; display: block;" src="/static/images/energy.png" data-holder-rendered="true"></a>
              <p class="card-text">Energy dissipates. Pretty colors brah.</p>
            </div>
            <div class="card">
              <a href="/rotate"><img style="height: 280px; width: 100%; display: block;" src="/static/images/rotate.png" data-holder-rendered="true"></a>
              <p class="card-text">Draw on a rotating canvas brah. People had this as kids right?</p>
            </div>
            <div class="card">
              <a href="/montecarlo"><img style="height: 280px; width: 100%; display: block;" src="/static/images/montecarlo.png" data-holder-rendered="true"></a>
              <p class="card-text">Throw darts at a quarter-circle to approximate PI brah. Radical and Mathematical</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}