{% extends "layout.html" %}

{% block main %}
	<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>5 Minutes Worse Spent</h1>
        <p>This is a website designed to showcase how poorly you can spend 5 minutes (or more). Go to the Browse page to look for some time wasters or select from the popular time wasters below.</p>
      </div>

      <!-- Header to display the popular time wasters -->
      <div class="page-header">
        <h1>Popular Time Wasters</h1>
      </div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="/sketch/slopefield"><img class="img-responsive center-block" src="/static/images/slope.png" alt="Slopes"></a>
          </div>
          <div class="item">
            <a href="/sketch/prettycircles"><img class="img-responsive center-block" src="/static/images/prettycircles.png" alt="Pretty Circles"></a>
          </div>
          <div class="item">
            <a href="/sketch/follow"><img class="img-responsive center-block" src="/static/images/follow.png" alt="They Follow"></a>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="page-header">
        <h3 id="about">About</h1>
      </div>
      <div>
        <p>
          This website was created for my fellow time wasters! Whether it be putting off final studying or just relaxing from a stressful day, take your mind off things by taking 5 minutes. I recommend putting on lo-fi hip-hop while you waste your time. <a href="https://open.spotify.com/user/1231289896/playlist/3GwW4Fvfs9BuJzzajPJQch" target="_blank">Here</a> is a link to my fave Spotify playlist brah.
        </p>
      </div>
      <div class="page-header">
        <h5>The Creator</h5>
      </div>
      <div>
        <p>
          My name is Gavin Lifrieri, and I am currently a freshman at Harvard College hoping to concentrate in CS brah. The github repo for this thing can be found <a href="https://github.com/CaelumTerrae/5minutes">here</a>. Look at the README for info brah.
        </p>
      </div>


    </div>
{% endblock %}